<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data</a></p>
    </div>
    <!-- Mars News -->
    {% if mars %}
    <div class="row" id="mars_news">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
        <h3 class="heading">{{mars.news_headline}}</h3>
        <p>{{mars.news_paragraph}}</p>
      </div>
    </div>

    <!-- Featured Image-->
    <div class="container">
      <div class="row" id="mars_image">
        <div class="col-lg-8 col-md-8 col-sm-12">
        <h1>Featured Mars Image</h1>
          <img src="{{mars.featured_url}}" style="max-width:100%; max-height: auto;" text-align=left; alt="Featured Mars Image"/>
        </div>
        <!--- Mars Facts -->
          <br>
          <div class="row" id="mars_facts">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <h2>Mars Facts</h2>
                  {{mars.mars_table |safe}}
              </div>
          </div>  
      </div>
    </div>    
    <!-- Mars Hemispheres -->
      <h2 style="text-align: center;">Mars Hemispheres</h2>
        <div class="card-deck">
          <hr>
            <div class="col-md-12">
              <div class="row" id="mars_hemispheres">
                {% for hemisphere in mars.hemisphere_links %}
                  <div class="col-md-6">
                      <div class="card text-white bg-dark" style="margin: 30px;"></div>
                        <img class="card-img-top" src="{{hemisphere.image}}" />
                        <div class="card-body">
                          <p class="card-text">{{hemisphere.title}}</p>
                        </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
            </div>
        </div>
    {% endif %}
  </div>
</body>

</html>
