<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body style="background-image: url(../static/css/space_background.jpg);">
  <div class="container" style= "background-color: white">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data</a></p>
    </div>
    <!-- Mars News -->
    {% if mars %}
    <div class="row" id="mars_news">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
        <h3 style = 'font-weight: bold;' class="heading">{{mars.news_headline}}</h3>
        <p>{{mars.news_paragraph}}</p>
      </div>
    </div>
    <hr>
    <!-- Featured Image-->
    <div class="container">
      <div class="row" id="mars_image">
        <div class="col-lg-8 col-sm-12">
        <h1>Featured Mars Image</h1>
          <img src="{{mars.featured_url}}" style="max-width:700px; max-height: auto; margin-bottom: 30px; text-align:left;" alt="Featured Mars Image"/>
        </div>
        <!--- Mars Facts -->
          <br>
          <div class="row" id="mars_facts">
              <div class="col-lg-4 col-sm-12;"  style = 'max-width: 350px; margin-right: 10px; margin-top: 10px'>
                  <h2>Mars Facts</h2>
                  {{mars.mars_table |safe}}
              </div>
          </div>  
      </div>
    </div>  
    <hr>  
    <!-- Mars Hemispheres -->
      <h2 style="text-align: center;">Mars Hemispheres</h2>
        <div class="container">
          <hr>
            <div class="col-md-12">
              <div class="row" id="mars_hemispheres">
                {% for hemisphere in mars.hemisphere_links %}
                  <div class="col-md-6">
                    <img style = 'margin-left: auto; margin-right: auto; max-width: 100%; margin-top: 20px'; src="{{hemisphere.image}}" />
                    <p><h4 style = 'margin-left: auto; margin-right: auto; margin-bottom: 30px; text-align: center; font-weight: bold; color:black'>{{hemisphere.title}}</h4></p>
                  </div>
                {% endfor %}
              </div>
            </div>
        </div>
    {% endif %}
  </div>
</body>

</html>
